#npm
node_modules/

#bower
bower/amazeui/dist/.gitkeep
bower/amazeui/fonts/
bower/amazeui/js/
bower/amazeui/less/
bower/amazeui/vendor/
bower/amazeui/widget/
bower/amazeui/.bower.json
bower/amazeui/bower.json
bower/amazeui/CHANGELOG.md
bower/amazeui/gulpfile.js
bower/amazeui/LICENSE.md
bower/amazeui/nodemon.json
bower/amazeui/package.json
bower/amazeui/README.md
bower/amazeui/README_EN.md

bower/angular/.bower.json
bower/angular/angular.min.js.gzip
bower/angular/bower.json
bower/angular/package.json
bower/angular/README.md
bower/angular/index.js

bower/chartist/.bower.json
bower/chartist/bower.json
bower/chartist/CODINGSTYLE.md
bower/chartist/CONTRIBUTING.md
bower/chartist/LICENSE
bower/chartist/README.md
bower/chartist/libdist/scss
bower/chartist/libdist/LICENSE

bower/jquery/src/
bower/jquery/.bower.json
bower/jquery/bower.json
bower/jquery/MIT-LICENSE.txt

demo/